<div class="header"> 
    <a href="/">
        <div class="brand">
            <h1>UPLOADIST</h1>
        </div>
    </a>
    <div class="upload">
        <h1>+</h1>
    </div>
    <div class="login">
        <h1>login</h1>
    </div>

</div>

<div class="container">
something
</div>    



