<%#=render 'form' %>
<%#= link_to 'Back', photos_path %>
<!-- ___________________________________ -->

<div id="privers">
   <img src="/assets/tumblr_inline_mxkekvJz7z1qhp0cd-1.gif" height="75px" /> 
</div>  

<div id="redbox" class="agates"
</div>

<script> 
$(function(){

  


  $("#redbox").click( function(){
      $(this).animate({opacity:'0.0',
                      height: '700px',
                      }, 2000)
  });





});
</script>



