
@media screen and (device-aspect-ratio: 2/3) {


    body {
      margin: 0px;
    }

    .header {
      position: fixed;
      height: 150px;
      width: 100%;
      top:0px;
      background-color: rgb(250, 250, 250);
      border-bottom: 1px solid rgb(240, 240, 240);
      
    }

    .brand {
      position: absolute;
      height: 100%;
      width: 320px;
      background-color: rgb(254, 191, 0);
    }

    .brand h1 {
      text-align: center;
      padding-bottom: 0px; 
      margin-top: 45px;
      font-family: Helvetica;
      font-size: 50px;
      letter-spacing: 1px;
      color: black;
    }
    .upload {
      position: relative;
      height: 100%;
      width: 150px;
      text-align: center;
      margin: 0 auto;

    }

    .upload h1 {
      text-align: center;
      padding-bottom: 0px; 
      margin-top: -108px;
      font-family: Helvetica;
      font-size: 277px;
      letter-spacing: 1px;
      color: rgb(200, 200, 200);
    }

      .login {
      position: relative;
      top: -42px;
      height: 100%;
      width: 275px;
      text-align: center;
      
      float: right;
    }

    .login h1 {
      position: relative;
      text-align: center;
      padding-bottom: 0px; 
      margin-top: 30px;
      right: -40px;
      font-family: Helvetica;
      font-size: 65px;
      letter-spacing: 1px;
      color: rgb(200, 200, 200);
    }

    .container {
      position: relative;
      width: 1080px;
      height: 100%;
      margin-top: 150px;
      background-color: red;
    }

}



