 

 body {
      margin: 0px;
    }

    .header {
      position: fixed;
      height: 70px;
      width: 100%;
      top:0px;
      background-color: rgb(250, 250, 250);
      border-bottom: 1px solid rgb(240, 240, 240);
      
    }

    .brand {
      position: absolute;
      left:30px;
      top:22px;
      height: 100%;
      width: 720px;
      font-family: didot;
      
    }

    .brand h1 {
      text-align: center;
      padding-bottom: 0px; 
      margin-top: 68px;
      font-family: Helvetica;
      font-size: 50px;
      letter-spacing: 1px;
      color: black;
    }
    .hot {
      position: relative;
      top:-31px;
      height: 100%;
      width: 250px;
      text-align: center;
      margin: 0 auto;

    }

    .hot h1 {
      text-align: center;
      padding-bottom: 0px; 
      margin-top: 41px;
      font-family: Didot;
      font-size: 40px;
      letter-spacing: 1px;
      color: rgb(200, 200, 200);
    }

      .login {
      position: relative;
      top: -144px;
      height: 100%;
      width: 275px;
      text-align: center;
      float: right;
    }

    .login h1 {
      position: relative;
      text-align: center;
      padding-bottom: 0px; 
      margin-top: 43px;
      right: -40px;
      font-family: Didot;
      font-size: 40px;
      letter-spacing: 1px;
      color: rgb(200, 200, 200);
    }

    .container {
      position: relative;
      display: inline-block;
      width: 100%;
      height: 800px;
      margin-top: 82px;
      
    }

    .block {

      position: relative;
      display: inline-block;
      margin-right: 80px;
      left: 35px;
      height: 350px;
      width: 200px;
      float: left;
      top:175px;
    }

    .album_block {
      position: relative;
      width: 200px;
      height: 200px;
      top:100px;
    }

    .album_block img {
      position: absolute;
      width:auto;
      height:auto;
      max-height: 200px;
      max-width: 200px;
      top: 0; left: 0; bottom: 0; right: 0;
      margin: auto;
      border-radius: 3px;
    }

    .name_block {
      font-size: 28px;
      float: left;
      height: 200px;
      width: 100%;
      text-align: center;
      font-family: didot;
      text-transform:uppercase;
      line-height:30px;

    }

    .form_block {
      position: fixed;
      bottom :20px;
    }

    .single_album {
  
      background-color: blue;
      height: 200px;
      width: 200px;
      
    }

    

    .btn{
      background-color: #ffffff ;
      font-family: didot;
      color: black;
    }

    .new_album_form{
      position: relative;
      margin:0 auto;
      margin-top: -300px;
      height: 400px;
      width:450px;
      background-color: #f9f9f9;
      display: none;
    }

    .new_album_form_inputs {
      position: absolute;
      height: 500px;
      width: 450px;
      margin-top: 400px;
      margin-left: 400px;
      font-family: didot; 
      
    }

    .button_div {
      position: absolute;
      height: 200px;
      width: 450px;
      right: 100px;
      top: 105px;
      font-family: didot;
      background-color: green;

    }

    .new_album_form_inputs input {
      position: absolute;
      border: 1px solid #999;
      height: 50px;
      width: 100%;
      top: 0px;
      font-size: 20px;
      text-align: center;
    }

    

    .submit-target{
      height: 50px;
      width: 100px;
      background-color: red;
    }

    #file {
      

    }

    #privers {
      width:100%;
      height: 75px;
      background-color: #e4e4e4;
    }

    .agates {
      position: relative;
      width: 80px;
      height: 80px;
      background-color: green;
    }
/*_____________________________________
_____________________________________
_____________________________________
_____________________________________
_____________________________________
_____________________________________*/


@media screen and (device-aspect-ratio: 2/3) {


    body {
      margin: 0px;
    }

    .header {
      position: fixed;
      height: 150px;
      width: 100%;
      top:0px;
      background-color: rgb(250, 250, 250);
      border-bottom: 1px solid rgb(240, 240, 240);
      
    }

    .brand {
      position: absolute;
      height: 100%;
      width: 320px;
      background-color: rgb(254, 191, 0);
    }

    .brand h1 {
      text-align: center;
      padding-bottom: 0px; 
      margin-top: 68px;
      font-family: Helvetica;
      font-size: 50px;
      letter-spacing: 1px;
      color: black;
    }
    .upload {
      position: relative;
      height: 100%;
      width: 150px;
      text-align: center;
      margin: 0 auto;

    }

    .upload h1 {
      text-align: center;
      padding-bottom: 0px; 
      margin-top: 43px;
      font-family: Helvetica;
      font-size: 277px;
      letter-spacing: 1px;
      color: rgb(200, 200, 200);
    }

      .login {
      position: relative;
      top: -194px;
      height: 100%;
      width: 275px;
      text-align: center;
      float: right;
    }

    .login h1 {
      position: relative;
      text-align: center;
      padding-bottom: 0px; 
      margin-top: 60px;
      right: -40px;
      font-family: Helvetica;
      font-size: 65px;
      letter-spacing: 1px;
      color: rgb(200, 200, 200);
    }

    .container {
      position: relative;
      width: 1080px;
      height: 100%;
      margin-top: 150px;
      background-color: red;
    }

}



